.header__container {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerLogo {
    width: 400px;
}

.title {
    margin: 20px 0px;
}

.menu__container {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.menu {
    color: white;
    display: flex;
    align-items: center;
}

.menu:hover {
    color: yellow;
    font-weight: bolder;
}

.icon {
    margin-right: 10px;
}